* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER AND NAV */

header {
  display: inline-block;
  width: 100%;
  z-index: 1000000;
}
#main-content {
  position: relative;
  background: url(images/nav2.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  z-index: 1;
}
.nav-btt i {
  color: brown;
  font-size: 50px;
  text-align: bottom !important;
}
#nav-phto {
  width: 100px;
  height: 100px;
}

.nav-btt {
  position: relative;
  top: 43%;
}
.nav-btt:hover {
  transition: all 0.5s ease;
  transform: translateY(-10px);
}

.logo {
  margin-left: 5px;
  display: inline-block;
  color: #fff;
}
.head-text {
  position: absolute;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99999999999;
}

.ul-nav {
  display: flex;
  float: right;
}
.ul-nav i {
  margin-right: 20px;
  margin-top: 5px;
  color: #fff;
}

.ul-nav li {
  list-style-type: none;
}
.ul-nav li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.ul-nav li a:hover {
  opacity: 0.6;
  transition: all 0.5s ease-out;
}
.drop-but {
  display: none;
}
.sticky {
  margin: -19px 0 0 0;
  background-color: rgb(158, 152, 152);
}
.nav-drop {
  text-align: center;
  margin: 10% 0 0 0;
  padding: 0;
  transform: 3s;
}
.nav-drop li {
  border-bottom: 1px solid #fff;
  width: 100%;
}
.nav-drop li a {
  transition: all 0.7s ease-out;
  text-decoration: none;
  color: #fff;
  flex: 1;
  width: 100%;
}
.header-content {
  margin-left: -12px;
  width: 100%;
  z-index: 1000000;
}
@media screen and (max-width: 750px) {
  .ul-nav .drop-but {
    display: block;
    color: #fff;
  }
  .ul-nav li {
    display: none;
  }
}

.nav-toggle {
  display: none;
  margin-top: 0;
  padding-top: 0;
}
@media screen and (min-width: 750px) {
  .nav-drop li a {
    display: none;
    list-style-type: none;
  }
}

/* kategori */

#kat_btt button {
  margin-top: 10px;

  border: none;
  background: none;
}
.btt-icon {
  margin: 0;
  position: relative;
  justify-content: center;
  align-items: center;
}
#kat_btt {
  text-align: center;
  background-color: hsl(220, 1%, 95%);
}
#kat_btt button:hover {
  color: hsl(60, 80%, 20%);
  transition: all 0.5s ease-out;
  transform: translateY(-10px);
}

.row-kat1 {
  display: none;
}
.row-kat2 {
  display: none;
}
.row-kat3 {
  display: none;
}
.row-kat4 {
  display: none;
}
.card-foot a {
  color: brown;
  margin: 10px;
  float: right;
}
.card-foot a:hover {
  opacity: 0.4;
  transition: all 0.5s ease-out;
}
/* start variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --section-color: #777;
  --section-weight: normal;
  --wh1-color: white;
  --blac-color: #333;
  --line-heg: 2;
  --text-trans: uppercase;
}
/* end variables */

/*start compontes  */
.main-heading {
  text-align: center;
}
ul {
  list-style-type: none;
}
.main-heading h2 {
  font-weight: var(--section-wight);
  font-size: 40px;
  position: relative;
  margin: 70px;
  text-transform: var(--text-trans);
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--blac-color);
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--blac-color);
  bottom: -38px;
  background-color: var(--wh1-color);
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: var(--line-heg);
  color: var(--section-color);
}
/* end compontes */

/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio ul li {
  padding: 10px;
}
.portfolio ul li.active {
  background-color: var(--main-color);
  color: var(--wh1-color);
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (max-width: 480px) {
  .portfolio .imgs-container .box {
    flex-basis: 100%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
  clip-path: polygon(0% 0, 49% 95%, 100% -31%);
}

.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: var(--wh1-color);
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: var(--wh1-color);
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: var(--text-trans);
}
/* end portfolio */

/* start design section */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url("images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 200px;
  margin-top: 100px;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: var(--wh1-color);
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: var(--section-wight);
  text-transform: var(--text-trans);
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
/* end design section */

/* footer */

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item-social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item-social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item-social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
.row > .column {
  padding: 0 8px;
}
.item-social :hover {
  transition: all 0.5s ease-in;
  transform: translateY(-10px);
  color: blue;
}
.link-icon-footer:hover {
  color: rgb(255, 255, 255);
  transition: all 0.9s ease;
  transform: translatex(-10px);
}

/* the all team  */

/* slider */
.dark-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/7.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/* sliiider */
.tow-header {
  color: brown;

  margin-top: 10px;
  text-align: center;
}
.three-header {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: brown;
}
#myBtn1 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#myBtn1:hover {
  background-color: #555;
}
.button-section {
  position: relative;
  left: 43%;
  text-align: center;
  align-items: center;
  border: none;
  background-color: none;
}
.button-section:hover {
  color: red;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
section.showed {
  width: 100%;
  margin: 80px 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navcontainer {
  position: relative;
  height: 70px;
  width: 200px;
  background-color: white;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  cursor: pointer;
  z-index: 1;
}

.navcontainer div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navicons {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: all 0.6s ease-in-out;

  color: black;
}

.navcontainer:hover div .navicons {
  transform: translateY(-55px);
  opacity: 0.5;
}

.navtext {
  position: absolute;
  color: black;
  transition: 0.5;
  font-weight: bold;
  opacity: 0;
}

.navcontainer:hover div .navtext {
  opacity: 1;
}

#gameslide,
#webslide,
#androidslide,
#databaseslide,
#codingslide {
  display: none;
  justify-content: center;
  text-align: center;
  background-color: white;
  color: white;
}

#gameslide .container,
#webslide .container,
#androidslide .container,
#databaseslide .container,
#codingslide .container {
  background-color: #043674;
  padding: 50px 0;
}

#gameslide div table,
#webslide div table,
#androidslide div table,
#databaseslide div table,
#codingslide div table {
  position: relative;
  left: 30px;
  width: 90%;
  margin: 20px;
  font-size: 20px;
  border: 1px solid grey;
}

#gameslide div table th,
#webslide div table th,
#androidslide div table th,
#databaseslide div table th,
#codingslide div table th {
  font-weight: bold;
  font-size: 25px;
}

#gameslide div table tr:hover,
#webslide div table tr:hover,
#androidslide div table tr:hover,
#databaseslide div table tr:hover,
#codingslide div table tr:hover {
  background-color: #022958;
  cursor: pointer;
}

#gameslide div table tr:active,
#webslide div table tr:active,
#androidslide div table tr:active,
#databaseslide div table tr:active,
#codingslide div table tr:active {
  background-color: #031933;
}
.fa-gamepad {
  color: red;
}
.fa-html5 {
  color: orange;
}
.fa-android {
  color: green;
}
.fa-database {
  color: blue;
}
.fa-gamepad :hover {
  opacity: 0.5;
}
