body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 1500px;
  }
  /* start variables */
  :root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #ececec;
    --footer-color: rgba(255, 255, 255, 0.5);
    --main-transition:0.3s;
    --text-color:#a79f9f;
  }
  .main-title {
    margin: 100px auto;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  
  .main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
  .main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--green-color);
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title:hover::before {
    z-index: -1;
    animation: left-move 0.7s linear forwards;
  }
  .main-title:hover::after {
    z-index: -1;
    animation: right-move 0.7s linear forwards;
  }
  @keyframes left-move {
    50% {
      left: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      border-radius: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @keyframes right-move {
    50% {
      right: 0;
      width: 12px;
      height: 12px;
    }
    100% {
      border-radius: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  .main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--green-color);
    position: absolute;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* end variables */
  
  /*start compontes  */
  
  /* end compontes */
  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .navbar {
    background-color: var(--dark-color);
    height: 100vh;
    display: grid;
    height: 100px;
    grid-template-areas: "logo logo logo logo logo logo logo logo logo logo logo logo logo logo logo link link link link link icon   ";
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .navbar .logo {
    grid-area: logo;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .navbar .lists {
    grid-area: link;
    margin-top: 10px;
  }
  .navbar .logo img{
    max-width: 50px;
  }
  .navbar ul {
    list-style: none;
    justify-content: end;
  }
  .navbar ul li {
    display: inline;
    margin-right: 15px;
  }
  .navbar .lists ul li a {
    text-decoration: none;
    color: #eff7fa;
  }
  .navbar i {
    color: var(--green-color);
    margin-right: 10px;
  }
  .navbar ul button {
    background-color: var(--red-color);
    border: 1px solid transparent;
    border-radius: 50rem !important;
    padding: 10px;
    cursor: pointer;
    animation-name: trans;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .navbar ul button:hover {
    animation-play-state: paused;
  }
  @keyframes trans {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
      background-color: white;
    }
  }
  .navbar ul li a:hover,
  .navbar ul li a.active-link {
    color: var(--red-color);
  }
  .navbar .nav-icon {
    grid-area: icon;
    display: none;
    margin-top: 10px;
  }
  #lists {
    display: none;
  }
  
  .navbar #lists ul li {
    color: var( --red-color);
  }
  
  .navbar .res-list li {
    display: flex;
    margin-right: 15px;
    margin-top: 20px;
  }
  ul li .a-nav {
    position: relative;
    top: 53px;
    right: 0;
    left: -360%;
    text-decoration: none;
    color: #eff7fa;
  }
  ul li .a-nav:hover,
  .navbar ul li a#active {
    color: var(--red-color);
  }
  @media (max-width: 580px) {
    .navbar .lists {
      display: none;
    }
  }
  @media (max-width: 580px) {
    .navbar .nav-icon {
      display: block;
    }
  }
  /* end nav  */
  /* start header  */
  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color);
    height: calc(100vh - 100px );
    animation-name: change-color;
    animation-duration: 2s;
  }
  header .header-text h1 {
    color: #eff7fa;
  }
  header .header-paragraph p {
    color: var(--footer-color) !important;
  }
  header .header-button {
    text-align: center;
    align-items: center;
    margin-top: 15px;
    background-color: var(--red-color);
    border: 1px solid transparent;
    border-radius: 50rem !important;
    padding: 10px;
    animation-name: change-color;
    animation-duration: 2s;
  }
  
  header .header-button:hover {
    transform: skewX(20deg);
    transition: 0.7s;
    opacity: 0.8;
  }
  
  @keyframes change-color {
    0% {
      background-color: #233247;
    }
  
    50% {
      background-color: var(--dark-color);;
    }
  }
  header .header-button a {
    text-decoration: none;
    color: var( --yellow-color);
  }
  /* end header  */
  /* start featur  */
  .featur {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eff7fa;
    opacity: 0;
    padding-top: 20px;
    transition: all 1.5s ;
  }
  
  .featur .f-header p {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
  }
  .featur .f-header p::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .featur .menu {
    display: flex;
    justify-content: space-between;
  }
  .featur .menu .list {
    width: 100%;
  }
  .featur .menu ul {
    list-style-type: none;
  }
  .featur .menu ul li {
    display: inline;
  }
  .featur .menu ul li a {
    text-decoration: none;
    margin-right: 20px;
    color: var( --yellow-color);
    font-weight: bold;
  }
  
  .f-active {
    background-color:var(--red-color);
    color: var( --yellow-color);
    padding: 10px;
    border-radius: 50rem;
  }
  
  .featur .f-gallery {
    margin-top: 80px;
  }
  .featur .f-gallery .f-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 15px;
  }
  .featur .f-gallery .f-images .box {
    overflow: hidden;
    width: 25%;
    position: relative;
  }
  .featur .f-gallery .f-images .box img {
    width: 98%;
    margin-top: 10px;
    border: 2px solid #eff7fa;
  }
  .featur .f-gallery .f-images .caption {
    position: absolute;
    left: 0;
    background-color: var(--green-color);;
    width: 98%;
    height: 92%;
    transition: 0.3s;
    bottom: 2%;
    opacity: 0.6;
    right: -4%;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .featur .f-gallery .f-images .caption p {
    color: white;
    font-size: 30px;
  }
  
  .featur .f-gallery .f-images .box:hover .caption {
    left: 0%;
    transition: all 0.6s ease;
  }
  .featur .f-gallery .f-images .box img:hover {
    transition: 0.5s;
  }
  .f-gallery1,
  .f-gallery2,
  .f-gallery3,
  .f-gallery4 {
    display: none;
    transition: 3s;
  }
  .featur .f-link {
    margin-top: 20px;
    background-color: var(--red-color);
    color: var( --yellow-color);
    padding: 10px;
    border-radius: 50rem;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .featur .f-link a {
    text-decoration: none;
    color: var( --yellow-color);
  }
  .featur .f-link:hover {
    transform: skewX(20deg);
    transition: all 0.7s;
    opacity: 0.8;
  }
  @media (max-width: 768px) {
    .featur .f-gallery .f-images .box {
      width: 50%;
    }
  }
  @media (max-width: 580px) {
    .featur .f-gallery .f-images .box {
      width: 95%;
    }
  }
  /* end featur  */
  
  /* start testimonilas */
  
  
  .testimonilas {
    background-color:var(--section-color) ;
    padding-top: 40px;
    overflow: hidden;
  
  }
  .testimonilas .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .testimonilas div {
    position: relative;
    transition: 1.5s;
  }
  .testimonilas .container .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
    width: 45%;
    margin-bottom: 40px;
    z-index: 1;
    overflow: hidden;
  }
  .testimonilas .container .box::after{
  content: '';
  position: absolute;
  background-color: rgb(216, 213, 213);
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  }
  .testimonilas .container .box::before{
    content: '';
    position: absolute;
    background-color: rgb(216, 213, 213);
    width: 50%;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: -1;
    }
    .testimonilas .container .box:hover::before{
      right:0;
      transition: 0.8s;
    }
  .testimonilas .container .box:hover::after{
    left: 0;
    transition: 0.8s;
  }
  .testimonilas .container .box img {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-color);
  }
  .testimonilas .container .box  .icons{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  .testimonilas .container .box .rang i {
    color: gold;
  }
  .testimonilas .container .box .social i {
  color:black;
  padding-left: 10px;
  }
  .testimonilas .container .box .social #fac{
    color:blue;
  }
  .testimonilas .container .box .social #tw{
    color:rgb(141, 141, 248);
  }
  .testimonilas .container .box .social #insta{
    color: var( --red-color);
  }
  .testimonilas .container .box .social #you{
    color: var( --red-color);
  }
  @media (max-width: 767px) {
    .testimonilas .container .box {
      width: 50%;
    }
  }
  @media (max-width: 480px) {
    .testimonilas .container .box {
      width: 95%;
    }
  }
  /* end testimonilas */
  
  /* start why us  */
  
  .why-us{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .why-us .why-us-boxses{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 80px;
  
  }
  
  .why-us .why-us-boxses .box1,
  .why-us .why-us-boxses .box2,
  .why-us .why-us-boxses .box3 { 
    width: 30%;
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
    position: relative;
    transition: 1s;
    margin-right:20px ;
  
  }
  .why-us .why-us-boxses #why-us-box2 .info h5  {
    border-bottom: 5px solid  var( --red-color);
  }
  .why-us .why-us-boxses #why-us-box3 .info h5  {
    border-bottom: 5px solid blue;
  }
  
  .why-us .why-us-boxses img { 
    max-width:100%;
    border-radius: 10px;
  
  
  }
  .why-us .why-us-boxses .info{
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 20px;
  }
  .why-us .why-us-boxses .info h5 {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 5px solid green;
    width: fit-content;
    padding-bottom: 10px;
  }
  .why-us .why-us-boxses .info p{
    color:var(--text-color);
    padding-top: 10px;
  }
  .why-us .why-us-boxses .read-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
  
  }
  .why-us .why-us-boxses  .read-more h6 {
  color:rgb(130, 130, 248);
  padding-left: 10px;
  font-size: 15px;
  }
  .why-us .why-us-boxses .box1:hover,
  .why-us .why-us-boxses .box2:hover,
  .why-us .why-us-boxses .box3:hover  {
    box-shadow: 0 2px 15px rgb(0 0 0 / 100%);
    transition: 0.5s;
  
  }
  .why-us .why-us-boxses .box1:hover .read-more i,
  .why-us .why-us-boxses .box2:hover .read-more i,
  .why-us .why-us-boxses .box3:hover .read-more i {
    animation-name: why-us;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .why-us .why-us-boxses  .read-more i{
    color:rgb(130, 130, 248);
    padding-right: 10px;
  
  }
  @media (max-width:768px){
    .why-us .why-us-boxses .box1,
  .why-us .why-us-boxses .box2,
  .why-us .why-us-boxses .box3 { 
    width: 40%;
    margin-top: 20px;
  
  }
  .why-us .why-us-boxses .box3 {
    width: 90%;
  }
  }
  @media (max-width:500px){
    .why-us .why-us-boxses .box1,
  .why-us .why-us-boxses .box2,
  .why-us .why-us-boxses .box3 { 
    width: 90%;
  }
  }
  
  @keyframes why-us{
    0%{
      transform: translateX(0px);
  
    }
    50%{
      transform: translateX(-10px);
  
    }
  }
  /* end why us  */
  
  
  
  
  
  
  /* start footer */
  
  footer {
    background-color: var(--dark-color);
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  footer .sec-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 50%;
    width: 22%;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  footer .sec-1 img {
    width: 25%;
    text-align: center;
    margin-left: 20px;

  }
  footer .sec-1 p {
    align-items: end;
    margin-bottom: 80px;
    --bs-text-opacity: 1;
    color: var(--footer-color);
    margin-left: 20px;
    margin-right: 20px;
  }
  footer .sec-1 h6 {
    --bs-text-opacity: 1;
    color: var(--footer-color);
  }
  footer .sec-1 h3 {
    --bs-text-opacity: 1;
    color: var(--footer-color);
    text-align: center;
  }
  /*  */
  
  footer .sec-2 {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 22%;
    margin-top: 50px;
  }
  footer .sec-2 h3 {
    color: #eff7fa;
    text-align: center;
  }
  footer .sec-2 ul {
    list-style: none;
    text-align: center;
  }
  footer .sec-2 ul li {
    margin-top: 15px;
    color: var(--footer-color);
  }
  /*  */
  
  footer .sec-3 {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 22%;
    margin-top: 50px;
  }
  footer .sec-3 h3 {
    color: #eff7fa;
    text-align: center;
  }
  footer .sec-3 ul {
    list-style: none;
    text-align: center;
  }
  footer .sec-3 ul li {
    margin-top: 15px;
    color: var(--footer-color);
  }
  
  /*  */
  
  footer .sec-4 {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 22%;
    margin-top: 50px;
  }
  footer .sec-4 h3 {
    color: #eff7fa;
    margin-bottom: 20px;
    text-align: center;
  }
  footer .sec-4 .create{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .sec-4 h6{
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  footer .sec-4 p {
    color: var(--footer-color);
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

  }
  
  footer .sec-4 a {
    margin-top: 20px;
    background-color:  var( --red-color);
    color: var(--yellow-color);
    padding: 10px;
    border-radius: 50rem;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
    text-align: start;
    max-width: 100%;
    text-align: center;
  }
  footer .sec-4 a:hover {
    transform: skewX(20deg);
    transition: all 0.7s;
    opacity: 0.8;
  }
  footer .footer-icons {
    color:  var( --red-color);
    margin-bottom: 10px;
  }
  footer .footer-icons i {
    margin-left: 40px;
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    footer .sec-1,
    footer .sec-2,
    footer .sec-3,
    footer .sec-4 {
      width: 40%;

  }
  
  @media (max-width: 580px) {
    footer .sec-1,
    footer .sec-2,
    footer .sec-3,
    footer .sec-4 {
      width: 100%;
      align-items: center;
    }
  }
  /* end footer  */